:root{
--hex1: #468966;
--hex2: #FFF0A5;
--hex3: #FFB03B;
--hex4: #B64926;
--hex5: #8E2800;

--char1: #0D0D0D;
}

body, main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(17deg, rgba(70,137,102,1) 20%, rgba(255,240,165,1) 60%, rgba(255,176,59,1) 80%, rgba(182,73,38,1) 100%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
    width: 100vw;
    height: 60px;
    line-height: 60px;
    background-color: var(--char1);
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding-right: 10px;
}
header h1 a {
    text-decoration: none;
    color: #0D0D0D;
}
header h1 a,
header h1 a::before,
header h1 a::after {
    transition: all .75s;
}
header h1 a:hover {
    color: var(--hex1);
}

header h2 {
    font-family: 'Raleway', sans-serif;
}

li {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

section {
    display: flex;
    flex-direction: row;
}

section h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: end;
    color: #262626;
    padding-right: 20px;
}

footer {
    height: 115px;
    background-color: var(--char1);
}

footer h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: end;
    color: #595959;
    padding-right: 20px;
}

img {
    width: 50%;
}


nav a {
    color: #595959;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

#navigationLinks {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#navigationLinks ul {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: .5em;
}
#navigationLinks li {
    padding: 0 20px;
}

#navigationLinks li a,
#navigationLinks li a:after,
#navigationLinks li a:before {
    transition: all .5s;
}
#navigationLinks li a:hover {
    color: var(--hex2);
}



#aboutMePara {
    position: relative;
    left: 0px;
    max-width: 1200px;
    height: fit-content;
}

#aboutMePara p {
    font-family: 'Dosis', sans-serif;
    color: #0D0D0D;
    font-size: 26px;
    text-align: justify;
    padding: 20px 20px;
}

#profilePic {
    max-width: 118px;
    height: 100%;
    background-color: #595959;
    border: 5px solid #595959;
}

#contactLinks {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end; 
}
#contactLinks ul {
    display: flex;
    flex-direction: row;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: .5em;
}
#contactLinks li {
    padding: 0 20px;

}
#contactLinks li a,
#contactLinks li a:after,
#contactLinks li a:before {
    transition: all .5s;
}
#contactLinks li a:hover {
    color: var(--hex2);
}

#contactFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headingsContact {
    position: static;
    max-width: 350px;
    min-width: 350px;
    height: auto;
    border-right: 4px solid #595959;
    padding: 20px 20px 0px 0px;
}

.headings {
    position: static;
    max-width: 350px;
    min-width: 350px;
    height: auto;
    border-right: 4px solid #262626;
    padding: 20px 20px 0px 0px;
}

#nameHeading {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--hex2);
}


  
.contactCard input {
    margin: 15px 0px;
}

.btn-dark {
    width: 100%;
}

.title-heading {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gitRepo {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 40px;
    position: absolute;
    background-color: rgba(217, 217, 217, 0.9);
    height: 80px;
    line-height: 80px;
    width: fit-content;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: .25em;
}

.contactMe nav a {
        margin: 0 auto;
        font-size: 20px;
        font-family: 'Oxygen', sans-serif;
        color: #595959;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: #343C4A;
        text-decoration-thickness: 3px;
        text-underline-offset: .5em;
}

@media screen and (max-width: 1280px) {
    section {
        flex-direction: column;
    }

    header {
        height: fit-content;
    }

    footer {
        height: fit-content;
    }

    header h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 100px;
        padding: 0px 10px;
    }

    #contactFooter {
        flex-direction: column;
        align-items: flex-start;
    }

    .subtitle img {
        height: 400px;
    }

    .grid {
        padding: 20px 0px 20px 0px;
    }

    .headings 
    {
        position: static;
        width: 400px;
        height: auto;
        border-right: none;
        border-bottom: 4px solid #262626;
        padding: 0px 0px 20px 20px;
    }    

    #headingsContact {
        position: static;
        width: 400px;
        height: auto;
        border-right: none;
        border-bottom: 4px solid #595959;
        padding: 0px 0px 20px 20px;
    }

    #contactLinks {
        position: static;
        height: auto;
        padding-top: 20px;
    }

    #gridImages {
        position: static;
        padding: 0px 50px;
        width: fit-content;
        height: auto;
        
    }

    .aboutMe {
        display: flex;
        flex-direction: row;
        position: static;
        width: fit-content;
        height: auto;
    }
}

@media screen and (max-width: 1010px) {

    header h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 600px) {
    footer h1 {
        text-align: center;
    }

    #nameHeading {
        min-width: 200px;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #595959;
    }
    #headingsContact {
        min-width: 100%;
    }
    #contactLinks {
        justify-content: center;
        align-items: center; 
    }
    
    #contactLinks ul {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }

    #contactLinks li {
        padding: 20px 0px;   
    }

    #gridImages {
        padding: 0px 15px;
    }

    .text-block {
        right: 0px;
    }

    .headings {
        min-width: 100%;
        border-right: none;
        border-bottom: 4px solid #262626;
        padding: 20px 0px;
    }

    .headings h1 {
        text-align: center;
    }

    #navigationLinks ul {
        padding-right: 0px;
    }

    #navigationLinks ul li {
        padding: 10px;
    }
    
}

@media screen and (max-width: 530px) {
    header {
        flex-direction: column;
    }

    #nameHeading {
        width: 100%;
        justify-content: center;
    }

    #navigationLinks {
        justify-content: center;
    }
    
}

@media screen and (max-width: 400px) {  
    .subtitle img {
        height: 60px;
        padding-bottom: 0px;
    }
      
    .text-block {
        font-size: 12px;
        bottom: 10px;
        right: 0px;
    }
}